.accueil {   
    max-width: 700px;    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;           
}

.textAccueil {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin-top: 50px; 
    margin-bottom: 50px;
    text-align: center;
}

.linkAccueil {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    background-color: #E0E0E0;
    border-radius: 10px;
}

.accueil1, .accueil2 {    
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9E9E9E;
    border-radius: 10px;
    cursor: pointer;
}

.accueil1:hover, .accueil2:hover {
    background-color: #757575;
    color: #FFFFFF;
}

@media (max-width:900px) {
    .linkAccueil {
        flex-direction: column;
    }
}