.keyData {
    height: 124px;
    background-color: #FBFBFB;
    margin-bottom: 40px;   
    display: flex;
    flex-direction: row;
}

.keyDataIconKeyData {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
}

.keyDataKeyData {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
}

.keyDataText {
    margin-left: 24px;
}

.keyDataKeyDataText {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 740px) {
    .keyData {
        height: initial;
        margin-bottom: 20px;
    }
}