.horizontalNavbar {
    height: 90px;
    background-color: #020203;  
    position: relative;
}

.horizontalNavbarContainer {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.logoText {
     margin-left: 3%;    
}

.menu-icon {
    display: none;
 }

 .navbar {
    display: flex;   
 }

.navbar ul {    
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;     
    width: 80%;
    list-style-type: none; 
}

.navbar ul li {
    margin-right: 100px;    
}

.navbar ul a.active {
    font-weight: 600;
    position: relative;
}

.navbar ul a.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}
.navbarText1, .navbarText2, .navbarText3,
.navbarText4 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;   
    text-decoration: none;
    color: #FFFFFF;     
}

@media (max-width: 740px) {
    .menu-icon {
      display: block;
      cursor: pointer;
    }
    .navbar {
        position: absolute;        
        right: 0;
        top: 90px;       
        background-color: #020203;    
        width: 0px;              
        height: 690px;
        transition: all 0.3s ease-in;
        overflow: hidden;
        border-radius:0 0 5px 5px;
        z-index: 10;
        display: block;
        justify-content: left;       
    }

    .active  {     
      width: 100%;       
    }  
  
    .navbar ul {
        display: flex;
        flex-direction: column;
        border: none;
        margin-left: 20px;
        padding-left: 15px;         
    } 
    .navbar ul li {            
        margin-top: 40px;        
    }    
}
